.foo-wrapper{
	@include flex(row,space-between,center);
	background: grad("270deg");
	color: #fff;
	padding: 5px 12px;
	width: 100%;
	position: absolute;
	bottom: 0;

	.right{
		@include flex(row,null, center);

		span{
			flex-shrink:0;
		}
		img{
			width:100%;
			max-width: 50px;
			margin-left: 10px;
		}
	}
}

@import "footerResponsive";
