@media  (min-width: 992px){
	.headerPrivate{
		.nav-item.mobile{
			display: none;
		}

		.btn-ms{
			display: none;
		}
	}
}

@media (max-width: 992px) {
	.headerPrivate{
		.navbar-nav{
			.nav-item.mobile{
				background: unset;
				border: unset;
				border-radius: unset;
				text-transform: capitalize;
				
				&::after{
					content: "";
					display: block;
					width: 100%;
					border-bottom: 1px solid #dddddd;
					padding-top: 2px;
					padding-bottom: 2px;
				}
			}
		}

		.mobile-sidebar{
			display: block;
			.nav-item.dropdown{
				margin-bottom: 10px;
			}
			.nav-item{
				overflow: hidden;
				border-radius: 5px;

				&:not(:last-child){
					margin-bottom: 5px;
				}

				&:last-child{
					margin-top: 15px;
					margin-bottom: 70px;
				}
			}
		}

		.mobile{
			.nav-link{
				padding: 0;
			}
		}

		.menu{
			@include flex(row);
			padding: 5px 10px;
			overflow: hidden;
			border-radius: 5px;

			div{
				margin-right: 10px;
			}

			span{
				text-transform: capitalize;
			}

			i,svg{
				color: $primCol;
				fill: $primCol;
			}

			svg{
				height: 1em;
			}
		}


	}
}
	
